<h3>Cart</h3>

<p *ngIf="items.length === 0">Your cart is empty</p>

<p>
  <a routerLink="/shipping">Shipping prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<div *ngIf="totalOrderAmount !== 0">
  <div style="margin: 10px">
    <span>Total order amount : </span>
    <span>{{ totalOrderAmount | currency }}</span>
    <span><button style="background-color: red; float: right" (click)="clearCart()">Clear cart</button></span>
  </div>

  <app-shipping></app-shipping>

  <h4>Total amount : <b>{{ totalAmount | currency }}</b></h4>

  <mat-card>
    <mat-card-header>User data</mat-card-header>

    <mat-card-content>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
        </div>


        <button mat-raised-button color="primary" type="submit">Purchase</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>


